<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add user</title>
</head>
<body>
    <h2>Add Employee</h2>

<form method="post">
{% csrf_token %}
<input name="name" placeholder="Name"><br>
<input name="email" placeholder="Email"><br>
<input name="department" placeholder="Department"><br>
<input name="salary" placeholder="Salary"><br>
<input name="mobile" placeholder="Mobile"><br>
<button>Add</button>
</form>

</body>
</html>