<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h2>Employee List</h2>
<a href="{% url 'add_employee' %}">Add Employee</a>

<table border="1">
<tr>
  <th>Name</th><th>Email</th><th>Department</th><th>Salary</th><th>Action</th>
</tr>

{% for e in employees %}
<tr>
  <td>{{ e.name }}</td>
  <td>{{ e.email }}</td>
  <td>{{ e.department }}</td>
  <td>{{ e.salary }}</td>
  <td>
    <a href="{% url 'update_employee' e.id %}">Edit</a> |
    <a href="{% url 'delete_employee' e.id %}">Delete</a>
  </td>
</tr>
{% endfor %}
</table>

</body>
</html>